/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  // display: block;
  font-family: $global-font-family;
  border-collapse: collapse;
  overflow-x: auto;
  margin: 1rem auto 0;
}

tr {
  width: 100;
}

th {
  font-weight: bold;
  background-color: #f8f8f8;
}

th,
td {
  text-align: center;
  padding: 0.5em;
  border: 1px solid #e6e6e6;
}