.section-title {
    color: $section-title-color;
    // margin-top: 2em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid $border-color;
}

.section-subtitle {
    color: $section-subtitle-color;
    margin: 0;
    padding: 0;
}

.news-item {
    margin: 0.5em 0;
}

#projects {
    margin-top: 2em;
}