// Labels (not the form kind)

.label,
.label-blue {
  font-size: 0.8em;
  display: inline-block;
  padding: 0.16em 0.56em;
  margin: 0 $sp-1 0.3em;
  color: $white;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: $blue-200;
  // border-radius: 12px;
  border-width: 0;
  border-radius: $border-radius;
  font-family: Arial, Helvetica, sans-serif;
}

.label-green {
  background-color: $green-200;
}

.label-purple {
  background-color: $purple-100;
}

.label-red {
  background-color: $red-200;
}

.label-yellow {
  color: $grey-dk-200;
  background-color: $yellow-200;
}